appdirs
beautifulsoup4
certifi
charset-normalizer
frozendict
html5lib
idna
lxml
multitasking
numpy
pandas
peewee
pyTelegramBotAPI
python-dateutil
pytz
requests
six
soupsieve
TA-Lib
telebot
tzdata
urllib3
webencodings
yfinance
